.product-price {
  color: #aaaaaa;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0.875rem;
  text-decoration: line-through;
  margin-top: 0.5rem
}

@media (min-width: 768px) {
  .product-price {
    color: #aaaaaa;
    font-size: 1.25rem;
    line-height: 1.25rem;
    text-decoration: line-through;
    margin-top: 1rem
  }
}

.product-price-with-discount {
  color: black;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0.875rem;
}

@media (min-width: 768px) {
  .product-price-with-discount {
    color: black;
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
}

.product-price-block div {
  display: inline-block;
  color: #aaa;
  height: auto;
  font-weight: 500;
  font-size: 0.840rem;
  line-height: 0.840rem;
}

@media (min-width: 768px) {
  .product-price-block div {
    display: inline-block;
    color: #aaa;
    height: auto;
    font-weight: 500;
    font-size: 1.0rem;
    line-height: 1.15rem;
  }
}